<div class="weblink">
    <div class="weblink-title">部分网站</div>
    <p>                                                       
      
      <a href="#">党政办</a>
      <a href="jiancha\index.html" target="_blank">纪检监察科</a>
      <a href="#">组宣科</a>
      <a href="#">内审科</a>
      <a href="#">土地规划科</a>
      <a href="#">综治办</a>
      <a href="#">安监科</a>
      <a href="#">人力资源部</a>
      <a href="#">企业服务部</a>
      <a href="#">项目科</a>
      <a href="#">招商部</a>
      <a href="#">开发部</a>
      <a href="#">工程部</a>
      <a href="#">预算部</a>
      <a href="#">经营管理部</a><a href="#">财务部</a>
      <a href="#">工会</a>
      <a href="#">团委</a>
      <a href="#">财政所</a>
      <a href="#">城管分队</a>
      <a href="#">统计所</a>
    </p>
    
    <div class="weblink-title">相关网站</div>
    <p>                                                       
     <a href="#">区政府办公室  </a> 
     <a href="#">发改委   </a> 
     <a href="#">教委科委   </a> 
     <a href="#">经信委   </a> 
     <a href="#">金融办   </a> 
    <a href="#"> 民委   </a> 
    <a href="#"> 监察局   </a> 
     <a href="#">民政局   </a> 
     <a href="#">司法局   </a> 
     <a href="#">财政局   </a> 
     <a href="#">人力社保局   </a> 
    <a href="#"> 环保局   </a> 
    <a href="#"> 住建委   </a> 
    <a href="#"> 市政市容委   </a> 
    <a href="#"> 交通局   </a> 
    <a href="#" > 农委   </a> 
    <a href="#" > 水务局   </a> 
    <a href="#" > 商务委   </a> 
    <a href="#" > 旅游委  </a> 
    <a href="#" > 文委   </a> 
    <a href="#" > 卫生局   </a> 
    <a href="#" > 人口计生委 </a> 
    <a href="#" > 审计局   </a> 
    <a href="#" > 外事办  </a> 
     <a href="#" > 国资委  </a> 
     <a href="#" > 安监局  </a> 
     <a href="#" > 体育局 </a> 
     <a href="#" > 统计局 </a> 
    <a href="#" >园林绿化局</a>   <a href="#" >民防局</a>   <a href="#" >法制办</a>  <a href="#" > 信访办</a>   <a href="#" >老龄委</a>   <a href="#" >城管局</a>   <a href="#" >行政服务中心</a>   <a href="#" >动物卫生监管局</a>   <a href="#" >社会办</a>  <a href="#" >北京电子商务中心区</a>   <a href="#" >新区就业直通车网站</a>   <a href="#" >中国西瓜交易网</a>   <a href="#" >大兴区工业产品供求信息共享平台</a>   <a href="#" >瀛海精神家园网站</a>   <a href="#" >大兴区供暖管理中心</a>   <a href="#" >北京大兴西瓜节官方网站</a>
<a href="#" >大兴区职工服务中心</a>   <a href="#" >南海子公园</a>   <a href="#" >大兴区学雷锋志愿者服务队</a>   <a href="#" >北京京南物流基地</a>   <a href="#" >大兴区节水型社会建设网 </a>  <a href="#" >大兴区妇女儿童活动中心</a>   <a href="#" >大兴区防火安全委员会</a>   <a href="#" >大兴社区卫生大兴区献血网</a>   <a href="#" >大兴区交通安全信息网</a>   <a href="#" >礼贤民族敬老院</a> 
      
    </p>
  </div>