<div class="language"> <a href="#"><img src="<%templateskin%>/images/language1.gif" /></a> <a href="#"><img src="<%templateskin%>/images/language2.gif" /></a> <a href="#"><img src="images/language3.gif" /></a> </div>
<div class="head"></div>
<div class="menu">
  <ul>
    <li><a href="index.html">网站首页</a></li>
    <li><a href="newscenter.html">新闻中心</a></li>
    <li><a href="overview.html">园区概况</a></li>
    <li><a href="public.html">政务公开</a></li>
    <li><a href="server.html">企业服务</a></li>
    <li><a href="copyright.html">版权交易</a></li>
  </ul>
</div>
<div class="clear"></div>