<div class="language">
    <a href="#"><img src="images/language1.gif"/></a>
    <a href="#"><img src="images/language2.gif"/></a>
    <a href="#"><img src="images/language3.gif"/></a>
</div>
<div class="container"></div>
<div class="menu">
    <ul>
        <li><a href="#" class="current">首页</a></li>
        <li><a href="#">政务公开</a></li>
        <li><a href="#">要闻动态</a></li>
        <li><a href="#">政策法规</a></li>
        <li><a href="#">监督举报</a></li>
        <li><a href="#">廉政清风</a></li>
    </ul>
</div>