<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{site.seo_title}</title>
<meta name="keywords" content="{site.seo_keyword}" />
<meta name="description" content="{site.seo_description}" />
<link href="<%templateskin%>/css/style.css" rel="stylesheet" type="text/css" />
    <link href="<%templateskin%>/css/lunbo.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="<%templateskin%>/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="<%templateskin%>/js/loopedslider.min.js"></script>
<script type="text/javascript" src="<%templateskin%>/js/jquery.slide.js"></script>
<script type="text/javascript">
    $(function () {

        /* 用按钮控制图片左右滚动 */
        $(".hotPic .JQ-slide").Slide({
            effect: "scroolLoop",
            autoPlay: false,
            speed: "normal",
            timer: 3000,
            steps: 1
        });

    });
    </script>

</head>

<body>
<!--Header-->
<%template src="_header.html"%>
<!--/Header-->
<div class="content">
    <div class="position">
    <a href="#">首页</a> > <a href="#">政策法规</a> > 国家法律法规
  </div>  
  <div class="list-con">
    <div class="leftside">
        <%if(model.parent_id==0)%>
      <h2><%=get_category_title(category_id, "所有类别")%></h2>

        <%set DataTable newsCList=get_category_child_list("jianchanews",category_id)%>
      <%loop ncdr newsCList%>
      <a href="<%linkurl("news_list",{ncdr[id]})%>">{ncdr[title]}</a>
      <%/loop%>

        <%else%>
        <h2><%=get_category_title(model.parent_id, "所有类别")%></h2>
         <%set DataTable newsCList=get_category_child_list("jianchanews",model.parent_id)%>
      <%loop ncdr newsCList%>
      <%if(Utils.ObjectToStr(ncdr["id"])==Utils.ObjectToStr(category_id))%>
      <a class="listnow" href="<%linkurl("news_list",{ncdr[id]})%>">{ncdr[title]}</a>
      <%else%>
      <a href="<%linkurl("news_list",{ncdr[id]})%>">{ncdr[title]}</a>
      <%/if%>
        <%/loop%>
        <%/if%>
       
        

    </div>
    <div class="rightside">
       <div class="r-title"><%=get_category_title(category_id, "所有类别")%></div>
       <ul>
           <%set DataTable newsList=get_article_list("jianchanews", category_id, pagesize, page, "status=0", out totalcount, out pagelist, "list_news", category_id, "__id__")%><!--取得一个分页DataTable-->
      <%foreach(DataRow dr in newsList.Rows)%>
      <li>
          <a href="<%linkurl("news_show",{dr[id]})%>">{dr[title]}</a><%datetostr({dr[add_time]},yyyy-MM-dd)%>
      </li>
      <%/foreach%>
         
       </ul>
       <div class="page">
         <a href="#" class="pre"><</a>
         <a href="#">1</a>
         <a href="#">2</a>
         <a href="#" class="pageon">3</a>
         <a href="#">4</a>
         <a href="#">5</a>...
         <a href="#">13</a>
         <a href="#" class="next">></a>
         
       </div>

        <div class="page-box">
            <div class="digg">{pagelist}</div>
        </div>
    </div>
  </div>
</div>


<!--Footer-->
<%template src="_footer.html"%>
<!--/Footer-->
</body>
</html>